name: Pangu - Publish Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt

      - name: Set env
        run: echo "PANGU_RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.0.1

      - name: Gradle Build
        run: gradle clean build

      # 将秘钥解码后将文件放置 ~/.gnupg/secring.gpg
      - name: Signing Secret Key File
        run: |
          mkdir ~/.gnupg
          echo "${{secrets.SIGNING_SECRET_KEY_RING_FILE}}" > ~/.gnupg/secring.gpg.b64
          base64 -d ~/.gnupg/secring.gpg.b64 > ~/.gnupg/secring.gpg

      - name: Publish
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        run: gradle publish -Psigning.keyId=${{ secrets.SIGNING_KEY_ID }} -Psigning.password= -Psigning.secretKeyRingFile=$(echo ~/.gnupg/secring.gpg)
